@font-face {
  font-family: "iconfont"; /* Project id 3385045 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1652420372934') format('woff2'),
       url('iconfont.woff?t=1652420372934') format('woff'),
       url('iconfont.ttf?t=1652420372934') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e8fc";
}

.icon-github:before {
  content: "\e64c";
}

.icon-demo:before {
  content: "\e60e";
}

